{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"</link>
    </head>
    <body>
        {% if fdict %}
            <form action="{% url 'app:download_zip' %}" method="POST">
                {% for filelist,value in fdict.items %}
                    <p>
                        <input type="checkbox" name="zip" value="{{ filelist }}">
                        <a href={{ filelist }}>{{ filelist }}</a>
                        {# <a href={% url 'app:download' {{ filelist }}%}>{{ filelist }}</a> #}
                        <span>{{ value.0 }}</span>
                        <span>{{ value.1 }}</span>
                    </p>
                {% endfor %}
                {% csrf_token %}
                <button type="submit">ZIPダウンロード</button>
            </form>
        {% else  %}
            <p>No file list</p>
        {% endif %}
    </body>
</html>

